.main__header
  .main__header__btn
    = link_to edit_group_path(@group) do
      Edit
  .main__header__leftbox
    %h2.main__header__leftbox__group-name
      = @group.name
    %ul.main__header__leftbox__member__list
      Member:
      - @group.users.each do |user|
        %li.main__header__leftbox__member__list__name
          = user.name
