.main__header
  .main__header__btn
    = link_to edit_group_path(current_user.id) do
      Edit
  .main__header__leftbox
    %h2.main__header__leftbox__group-name
      = @group.name
    %ul.main__header__leftbox__member__list
      Member:
      %li.main__header__leftbox__member__list_name
        = @group.users.name
