.chat-side{
  width:300px;
  color:$white;
  float:left;
  a{
    color:$white;
    text-decoration: none;
  }
  &__header{
    background-color:#253141;
    height:100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__menu{
        display: flex;
        &__edit-user a{
          color:$white;
         }
        &__new__group a{
          color:$white;
         }
        }
      }
    }
 }

.groups{
  background:#2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  overflow: scroll;
  &__group{
    margin-bottom: 40px;
    color:#fff;
    &__a{
      margin-bottom: 40px;
      color:#fff;
    }
    &__name{
      font-size: 15px;
      margin-bottom: 5px;
      color:#fff;
  }
    &__message{
      font-size: 11px;
      color:#fff;
    }
  }
}

.chat-main{
  width: calc(100vw - 300px);
  float: left;
  display: block;
  height: 100vh;
}

.main__header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll;
  &__btn{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
    color: #38aef0;
    a{
      color: #38aef0;
    }
  }
  &__leftbox{
  margin-top: 35px;
    &__group-name{
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
    }
    &__member__list{
      display: flex;
      font-size: 12px;
      color: #999999
  }
      &_name{
       list-style: none;
      }
    }
}



.chat-message{
  background-color: #fafafa;
  height: calc(100vh - 33%);
  overflow: scroll;
  padding: 46px 40px;
  &__s{
    padding-bottom: 40px;
  }
    &__upper-info{
    display: flex;
    margin-bottom: 10px;
      &__talker{
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
    }
      &__date{
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
        }
  &_a__text{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 10px;
      }
    }
  }


.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 83px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
    padding-left: 10px;
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
      cursor: pointer;
      }
    .hidden {
      display: none;
      }
    }
  &__submit {
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0px 20px;
    cursor: pointer;
    }
  }
